:root {
  --primary1: rgb(147, 169, 255);
  --primary1-060: rgba(147, 169, 255, 0.6);
  
  --white008: rgba(255, 255, 255, .08);
  --white032: rgba(255, 255, 255, .32);
  --white060: rgba(255, 255, 255, .6);
  --white087: rgba(255, 255, 255, .87);
  --lightGrey: rgba(229, 229, 229, 1);
  --white000: rgba(255, 255, 255, 1);
  
  --darkGrey100: rgba(33, 33, 33, 1);
  --darkGrey087: rgba(33, 33, 33, .87);
  --darkGrey060: rgba(33, 33, 33, .6);
  --darkGrey032: rgba(33, 33, 33, .32);
  --darkGrey008: rgba(33, 33, 33, .08);
  --darkBlueGray: rgba(24, 24, 36, 1);
  --blueGray: rgba(37, 39, 60, 1);
  
  --shadow1: 0px 4px 64px rgba(0, 0, 0, 0.25);
  --shadow2: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
