html {
  --fontFamily: KanitFont, KanitFont Fallback;
  font-size: 8px;
  font-family: var(--fontFamily);
}

body, input, select, textarea, span, p {
  color: var(--textColor);
  
  @media (prefers-color-scheme: dark) {
    --textColor: var(--white000);
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, div, span {
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
}

h1, .h1 {
  --fontSize: 6rem;
  --fontWeight: 600;
}

h2, .h2 {
  --fontSize: 3rem;
  --fontWeight: 400;
}

.text1 {
  --fontSize: 2.25rem;
  --fontWeight: 400;
}

.text2 {
  --fontSize: 2rem;
  --fontWeight: 400;
}

.subtext {
  --fontSize: 2.125rem;
  --fontWeight: 200;
}
