.fillFlex {
  flex: 1 0;
}

.contents {
  display: contents;
}

.mb8 {
  margin-bottom: 1rem;
}

.mb24 {
  margin-bottom: 3rem;
}

.mb32 {
  margin-bottom: 4rem;
}

.alignRight {
  text-align: right;
}
