.pageLayout {
  /* cover */
  --pageLayoutImgHeight: 35.625rem;
  --pageLayoutImgWidth: 100%;
  /* content */
  --pageLayoutContentWidth: var(--pageContentWidth);
  
  &__cover {
    width: var(--pageLayoutImgWidth);
    height: var(--pageLayoutImgHeight);
    position: absolute;
    overflow: hidden;
    z-index: -1;
    
    img {
      height: 100%;
      width: 100%;
      position: static !important;
      object-fit: cover;
      object-position: 0 60%;
    }
  }
  
  &__content {
    max-width: var(--pageLayoutContentWidth);
    min-height: calc(100vh - var(--headerHeight, 0rem));
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    @media (--mobile) {
      min-height: calc(100lvh - var(--headerHeight, 0rem));
    }
  }
}
